@import '~bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans Narrow', sans-serif;
}

// HEADER CSS

header {
    line-height: 120px;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;

    .logo {
        display: flex;
        align-items: center;

        img {
            height: 90px;

        }
    }

    nav {
        ul {
            height: 100%;
            list-style-type: none;
            margin: 0 auto;
            display: flex;

            li {
                margin: 0 10px 0 10px;
                display: flex;
                align-items: center;
            }

            a {
                text-decoration: none;
                color: black;
                text-transform: uppercase;


                &:hover {
                    color: #0082f9;
                }
            }
        }
    }
}

.jumbotron {
    padding: 0;
    margin: 0;
}

.jumbotron img {
    height: 400px;
    width: 100%;
    padding: 0;
    margin: 0;
    background-size: contain;
}

// MAIN CSS
main {
    padding-bottom: 10px;
    background-color: rgb(34, 33, 33);

    height: 100%;

    h2 {
        width: 215px;
        transform: translateY(-50%);
        margin-left: 6%;
        text-align: center;

        text-transform: uppercase;
        padding: 8px;
        background-color: #0082f9;
        border: 1px solid black;
        cursor: pointer;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
    }

    button {
        margin: 0 auto;
        display: block;
        color: #0082f9;
    }
}


.my-card {
    position: relative;
    width: calc(100% / 6);
    cursor: pointer;
    display: inline-block;
    padding-bottom: 10px;
    margin: 0 10px;

    a {
        text-decoration: none;
    }

    img {
        width: 100%;
        transition: 0.5s all;
        display: inline-block;
    }

    h4 {
        width: 150px;

        font-size: 0.85rem;
        padding: 5px 0;
        display: block;
        text-transform: uppercase;
    }

    &:hover img {
        filter: brightness(0.4);
    }
}

.card-detail {
    padding: 20px;
    width: 90%;
    margin: 0 auto;

    img {
        width: 250px;
        height: 400px;
        transition: 0.5s all;
        margin-bottom: 10px;
    }

    // &:hover img {
    //     filter: brightness(0.8);
    // }

    h5 {
        margin-bottom: 10px;
    }


    h4 {
        margin-bottom: 10px;
    }

    p {
        text-align: justify;
    }
}

// BLUE MENU BOX CSS
.menu-box {
    background-color: #0082f9;
    overflow-y: auto;

    .content {
        ul {
            display: flex;
            justify-content: center;

            li {
                display: flex;
                align-items: center;
                padding-left: 5px;
                padding-right: 5px;

                img {
                    transform: scale(0.5);
                }

                a {
                    text-decoration: none;
                    color: white;
                    font-size: 0.9rem;
                    text-transform: uppercase;
                }
            }
        }
    }
}









// FOOTER CSS
.footer-top {
    display: flex;
    background-image: url('../images/footer-bg.jpg');
    background-size: cover;

    .content {
        display: flex;
        height: 370px;
        background-image: url('../images/dc-logo-bg.png');
        background-repeat: no-repeat;
        background-position: right;

        .cols {
            padding-top: 30px;
            margin-left: 50px;

            h4 {
                color: white;
                text-transform: uppercase;
                font-weight: 600;
                margin-bottom: 10px;
                margin-left: 30px;
            }

            ul {
                list-style: none;
                padding-bottom: 20px;

                a {
                    display: inline-block;
                    text-decoration: none;
                    color: lighten(rgb(34, 33, 33), 30%);
                    font-size: .85em;


                }
            }
        }
    }

}

.footer-bottom {
    height: 110px;
    background-color: lighten(#1C1C1C, 8%);

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        &>h4 {
            margin-left: 40px;
            padding: 13px;
            border: 2px solid #0082f9;
            color: white;
            cursor: pointer;
            text-transform: uppercase;
        }

        .follow-us {
            display: flex;

            img {
                margin: 0 7px;
                cursor: pointer;
            }

            &>h4 {
                color: #0082f9;
                margin-right: 30px;
                padding-top: 5px;
                font-size: 1.1rem;
                text-transform: uppercase;
                font-weight: 600;

            }
        }
    }
}

// FOOTER BOTTOM CSS


.footer-bottom {
    height: 110px;
    background-color: lighten(#1C1C1C, 8%);

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        &>h4 {
            margin-left: 40px;
            padding: 13px;
            border: 2px solid #0082f9;
            color: white;
            text-transform: uppercase;
        }

        .follow-us {
            display: flex;

            img {
                margin: 0 7px;
                cursor: pointer;
            }

            &>h4 {
                color: #0082f9;
                margin-right: 30px;
                padding-top: 5px;
                font-size: 1.1rem;
                text-transform: uppercase;
                font-weight: 600;
                cursor: pointer;
            }
        }
    }
}