@import '~bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans Narrow', sans-serif;
}

header {
    line-height: 120px;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;

    .logo {
        display: flex;
        align-items: center;

        img {
            height: 90px;

        }
    }

    nav {
        ul {
            height: 100%;
            list-style-type: none;
            margin: 0 auto;
            display: flex;

            li {
                margin: 0 10px 0 10px;
                display: flex;
                align-items: center;
            }

            a {
                text-decoration: none;
                color: black;
                text-transform: uppercase;


                &:hover {
                    color: #0082f9;
                }
            }
        }
    }
}

.jumbotron {
    padding: 0;
    margin: 0;
}

.jumbotron img {
    height: 400px;
    width: 100%;
    padding: 0;
    margin: 0;
    background-size: contain;
}





// FOOTER CSS
footer {
    display: flex;
    background-size: cover;
    background-color: #2f2f2f;
    margin: 0 auto;

}

.content {
    display: flex;
    height: 370px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: right;
}

.cols {
    padding-top: 30px;
    margin-left: 50px;
}

h4 {
    color: white;

    font-weight: 600;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding-bottom: 20px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: gray;
    font-size: .85em;
}

a:hover {
    color: white;
}

// FOOTER BOTTOM CSS


.content-footer {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

button {
    border: 1px solid #0082f9;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 50px;
    width: 150px;
    margin-top: 30px;
    margin-left: 30PX;
    background-color: #2f2f2f;
    color: white;

}

button:hover {
    background-color: #0082f9;
}

h4 {
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.follow-us {
    display: flex;
    height: 100%;
}

.social {
    display: flex;
    flex-wrap: nowrap;
    padding-right: 85px;
}

.social li {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 70px;
}